.main-content {
    background: #eeeeee;
}

.inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.inner:focus {
    outline: none;
}

.inner > img {
    height: auto;
    width: 100%;
    display: block;
    transform-origin: 50% 0;
}

.nav-header {
    flex-shrink: 0;
    z-index: 2;
}

.technologies md-slider[disabled]:not(.md-min) .md-thumb:after {
    border-color: rgb(16,108,200);
    background-color: rgb(16,108,200);
}
